* {
    font-family: 'Open Sans', sans-serif !important;
    margin: 0px;

}

html,
body {
    background-color: $background;

    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

main {
    color: $grey-dark;

    width: 100%;
   transition: all .4s ease-in-out;
overflow-x: auto;

}

.mt-1 {
    margin-top: 5px;
}

.mt-5 {
    margin-top: 20px;

}

.mb-1 {
    margin-bottom: 5px;
}

.mb-5 {
    margin-bottom: 20px;
}

.ml-1 {
    margin-left: 5px;
}

.ml-5 {
    margin-left: 15px;
}

.mr-1 {
    margin-right: 5px;
}

.mr-5 {
    margin-right: 15px;
}


.pointer {
    cursor: pointer;
}