$primary: #8f5bd9;
$secondary: #f2522e;
$purple-medium: #4c3073;
$purple-dark: #2a1b40;
$grey-medium: #5d5d5d;
$grey-light: #d5d5d5;
$grey-dark: #3c3c3c;
$dark-grey: #2c2c2c;
$light-grey: #d5d5d5;
$background:#F4F5F9;
$cian: #0cbce4;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

//colores chart

$orange-chart: #ff8d73;
$pink-chart:#fe5377;
$yellow-chart:#ffdf9a;
$purple-chart:#b24775;
