.crew__main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: calc(90vh - 30px);
    width: 100%;

    overflow: hidden;
}

.crew__list-crew {
    margin-top: 20px;
    width: 35%;
    height: 100%;
    overflow-y: auto;

    path {
        fill: $purple-medium
    }

    svg {
        height: 25px;
        width: 25px;
    }

}

.crew__info {

    margin-top: 20px;
    height: 100%;

    width: 55%;

    overflow-y: auto;

}

.crew__card {
    h2 {
        color: $primary;
        text-transform: capitalize;
        margin: 10px 10px 10px 10px;
    }

    h3 {
        margin: 10px 10px 10px 10px;

    }

    h4 {
        padding: 10px;
        text-align: center;
    }

    svg {
        fill: $primary;
        width: 25px;
        height: 25px;
        vertical-align: middle;
    }

    ul {
        list-style-type: none;
        margin: 15px 20px 15px 0px;

    }


}

.crew__item-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
    align-items: center;
    padding: 15px;

}

.crew__check-icon {
    svg {
        color: #7ac968;
        fill: #7ac968;
    }
}