.dashboard__main-content{
    width: 90%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-self: center;
}

.dashboard__generar-rep{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard__values {
    padding: 10px;
    height: 350px;
    h3{
        text-align: center;
                font-size: 22px;
                font-weight: 600px;
                color:$secondary;
            }
    h4{

text-align: center;
        font-size: 40px;
        font-weight: 600px;
        color:$primary;
    }
    display:flex;
    flex-direction: column;
}