.modal__main {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  width: 60vw;

    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 10px 30px 30px 30px;
    margin-left: 100px;
  }
  
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
  }
  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
  }

  .modal__title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    span{
      display: flex;
      flex-direction: row;
    text-align: center;
    align-items: center;
    justify-items: center;

    font-size: 20px;
    font-weight: 900px;
    color: $primary;

  

    }

    svg {

      fill: $secondary;
    }
  }

  .modal__icon-title{
    svg {
    margin-right: 10px;

      fill: $primary;
    }

    text-align: center;
  }

