.MuiSelect-outlined, .MuiSelect-root {
    border-color: #8f5bd9;

    & :hover {
        color: #8f5bd9;

    };


        &:before {
            border-color: #8f5bd9;
        };
        &:after {
            border-color: #8f5bd9;
        }
    

}

.MuiPaper-root{
    padding: 15px;
}